.statistics {
  text-align: center;
  margin: 0 auto;
  max-width: 350px;
  background-color: #ffffff;
  margin-top: 100px;
}

.title {
  margin: 0;
  padding: 30px 0px 20px 0px;
  text-transform: uppercase;
  font-weight: 600;
  color: #5e6366;
}
.stat_list {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.item {
  color: #fff;
  width: 100%;
  background-color: red;
  padding: 10px 0px;
}

.id-1 {
  background-color: #4fc4f7;
}
.id-2 {
  background-color: #a23df1;
}

.id-3 {
  background-color: #e74b67;
}
.id-4 {
  background-color: #20b8c5;
}
.id-5 {
  background-color: #4f6ef7;
}

.label {
  display: block;
  margin-bottom: 10px;
}

.percentage {
  font-size: 19px;
}
